.bar-container {
    align-items: left;
  background-color: rgb(93, 90, 90);
  border: 2px solid rgb(54, 52, 52);
  border-radius: 5px;
  width: 400px;
  height: 15px;
}

.bar-content {
  background: rgb(129,25,25);
background: linear-gradient(85deg, rgb(129,25,25) 0%, rgb(230, 25, 25) 100%);
  width: 100%;
  height: 100%;
}
.title {
    display: flex;
    flex-direction: row;
    /* align-content: sp; */
    justify-content: center;
}
.status-bar{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 400px;
}
